<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--<add name="conn" connectionString="Data Source=DESKTOP-HPPSHH7;Initial Catalog=ConferenceManagementSystem;Integrated Security=True"/>-->
		<!--<add name="conn" connectionString="Data Source=LAPTOP-BMORPQI0\SQLEXPRESS;Initial Catalog=ConferenceManagementSystem;Integrated Security=True"/>-->
		<!--<add name="conn" connectionString="Data Source=DESKTOP-MMC1K4A\SQLEXPRESS;Initial Catalog=ConferenceManagementSystem;Integrated Security=True"/>-->
		<add name="conn" connectionString="Data Source=DESKTOP-E32OLO8;Initial Catalog=ConferenceManagementSystem;Integrated Security=True"/>
	</connectionStrings>
</configuration>